<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Weather App</title>
</head>
<body ng-app="jsbin">
  <div ng-controller="DemoCtrl">
  
	<header>
		<h1 >{{city}} Weather Update</h1>
		<input type="text" ng-keypress="getUpdateFromEnter($event)" ng-model="city" placeholder="Enter Your City"></input>
		<button ng-click="getUpdate()">Get Update</button>
		
	</header>
	<div class="showTable">
		<table id="displayTable" ng-if="showConverter">
			<thead>
				<tr>
					<th>Temperature <button id="convertor" ng-if="showConverter" ng-click="getScale()">C/F</button></th>
					<th>Date and Time</th>
					<th>Weather Condition</th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "day in daysObtained" ng-class="{clear:day.weather[0].main == 'Clear', cloud: day.weather[0].main == 'Clouds', rain: day.weather[0].main == 'Rain'}" >
						<td id="temp">{{day.main.temp | convertToCel }}</td>
						<td>{{day.dt_txt }}</td>
						<td>{{day.weather[0].main}}</td>	
					</tr>
				</tbody>
		</table>
	</div>
</div>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="Controller.js"></script>
</body>
</html>